@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');


.error{
  color: var(--error);
}

/* progress bar styles */
.progress-bar{
  height: 5px;
  background: var(--primary);
  margin-top: 10px;
}

.ptb-200 {
  padding-top: 200px;
  padding-bottom: 200px;
}

/*
    Extra small devices < 576px
    No media query required

    Small (sm) 576px and up
    @media (min-width: 576px){ ... }

    Medium (md) tablets 768px and up
    @media (min-width: 768px){ ... }

    Large (lg) desktops 992px and up
    @media (min-width: 992px){ ... }

    Extra Large (xl) large desktops 1200px and up
    @media (min-width: 1200px){ ... }
*/