.createPost {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
    padding: 24px;
}
.createPost__imageUpload > input{
    display: none;
}

.createPost__caption {
    border: none;
    width: 100%;
    outline: none;
}
.createPost__caption :focus {
    outline: none;
}
.createPost__uploadBtn {
    border: none;
    background-color: white;

}

.createPost_center {
    margin: 0px 16px;
}
.createPost__bottom {
    display: flex;
    justify-content: space-between;
    margin: 0px 16px;
    align-items: center;
}
.createPost__upload {
    background-color: white;
    width: 100%;
    max-width: 650px;
    border-radius: 4px;
    padding: 12px 16px;
}
.createPost__avatar {
    margin-right: 10px;
}

#image-preview {
    display: none;
    height: 140px;
    margin: 14px 0px;
    border-radius: 3px;
}