.post {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
}
.post__imageUpload > input{
    display: none;
}

.post__caption {
    border: none;
    width: 100%;
    outline: none;
}
.post__caption :focus {
    outline: none;
}
.post__uploadBtn {
    border: none;
    background-color: white;

}

.post__bottom {
    display: flex;
    justify-content: space-between;
}
.post__loggedIn {
    background-color: white;
    width: 100%;
    max-width: 650px;
    border-radius: 4px;
    padding: 12px 16px;
}
.post__avatar {
    margin-right: 10px;
}

#image-preview {
    display: none;
    height: 140px;
    margin: 14px 0px;
    border-radius: 3px;
}