h1 {
    font-size: 10px;
}
html{
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.text-white {
    color: white; 
}

.text-white {
    color: black;
}
.bg-nature {
    background:
        linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)
        ),
        url('../../assets/images/getty-center-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    width: 100%;
}

.bg-water {
    background:
        linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)
        ),
        url('../../assets/images/water-bg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    width: 100%;
}

.p-200 {
    padding: 200px;
}

.plr-200 {
    padding-left: 200px;
    padding-right: 200px;
}

.ptb-150 {
    padding-top: 150px;
    padding-bottom: 150px;
}

.bg-transparent {
    background-color: transparent;
}

.title {
    font-size: 50px;
}
