
.bg-light-colors {
    background: linear-gradient(45deg, pink, lightblue, lightgreen);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
}

.bg-library {
    background:
        linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
        ),
        url('../../assets/images/libraryaisle.jpg') top right no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    min-height: 100%;
    width: 100%;
    
}

.p-50 {
    padding: 50px;
}
.center {
    text-align: center;
}



