.gradient-bg {
    background: linear-gradient(-180deg,#4158D0, #C850C0, #FFCC70);
    background-size: 500% 500%;
    background-repeat: no-repeat;
    animation: gradient 15s ease infinite; 
    min-height: 100%;
    width: 100%;
    position: absolute;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 50% 100%;
    }
    100% {
        background-position: 0% 50%;
    }
   
}

.profile {
    background-color: white;
    max-width: 600px;
    width: 90vw;
    padding: 16px;
    margin-top: 24px;
}