

a, a:link, a:visited {
    
    text-decoration: none;
    
}

.navbar-nav {
    flex-direction: row;
}

li a {
    text-transform: uppercase;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  
}

li a {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
}
.navbar-nav > li {
    margin-left: 10px;
    margin-left: 10px;
    
}

.text-white{ 
    color: white;
}
