@import url("https://fonts.googleapis.com/css?family=Tangerine");

.wrapper {
    height: auto;
    min-height: 100%;
    margin: 0px auto;
    padding: 0px auto;
}

a, a:link, a:visited {
    color: white;
    text-decoration: none;
    
}

.nav-item {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    font-family: 'Tangerine', san-serif;
}

